
<header {% if include.header_img %} style="background-image: url({{ include.header_img }}" {% endif %} >
        <div id="particles-js"></div>
    <div class="header-content text" >
        <div class="header-content-inner">
            <h1>{{ site.tagline }}</h1>
            <hr>
            <p id="messages" style="display: inline-block;"> </p>
            <br>
            <a href="{{ site.first_button_url }}" class="btn btn-primary btn-xl page-scroll">{{ site.first_button_text }}</a>
        </div>
    </div>
</header>
<script src="js/particles.js"></script>